{% extends "ci_account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-github-hooks-backend{% endblock %}

{% block head_title %}{% trans "Github Hooks Backend" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_github_hooks_backend" %}">
                <legend>{% trans "Github Hooks Backend" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
            </form>
        </div>
    </div>
{% endblock %}
